.header-wraper {
  display: flex;
}
.logo {
  /* margin-top: 15px; */
  background-image: url("../../assets/logo.png");
  height: 100px;
  width: 300px;
  z-index: 1;
  background-repeat: no-repeat;
}

.group_header_txt {
  display: flex;
  flex-direction: column;
  justify-self: center;
  /* align-items: center; */
  margin: 10px;
  font-family: "Open Sans Hebrew", sans-serif;
  color: #000;
  font-size: 18px;
  line-height: 22px;
}
.group_header_txt span {
  font-weight: bold;
}
